/* home section */
img {
  width: 100%;
}
.home__container {
  width: 980px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.home__container h2,
.about__container h2,
.contact__container h2 {
  color: hsl(89, 66%, 45%);
  margin-bottom: 10px;
}
.home__container p,
.home__container span,
.about__container p,
.about__container span,
.contact__container p,
.contact__container span,
.contact__container label {
  font-size: 13px;
  line-height: 1.9;
  opacity: 0.7;
}
.home__container article p{
  margin-bottom: 10px;
}
.sub {
  font-weight: bold;
  font-size: 15px;
  padding: 15px 0;
}
.read__more {
  color: rgb(232, 92, 92);
  border-right: 1px solid gray;
  padding-right: 5px;
  margin-right: 5px;
  
}
.sidebar ul a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  opacity: 0.8;
}
.sidebar ul li:first-child {
  margin-bottom: 10px;
}
.sidebar ul li:last-child {
  margin: 10px 0 40px;
}
.sidebar ul a:hover {
  text-decoration: underline;
  color: #85ae38;
}
.sidebar div {
  padding: 5px;
}

/* About section */
.about__container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
.about__container section {
  width: 70%;
}
.bold {
  font-weight: 600;
  padding: 10px 0;
}
.mission {
  margin: 40px 0;
}
.mission p {
  padding: 8px 0;
}

/* contact section */
.contact__container {
  width: 980px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
.contact__container section {
  width: 70%;
}
.contact__container section p {
  margin-bottom: 30px;
}
.contact__container input,
.contact__container textarea {
  line-height: 25px;
  width: 65%;
  margin-top: 5px;
  opacity: 0.6;
}
#submit {
  padding: 5px;
  width: 20px;
  background-color: hsl(89, 84%, 41%);
  border: none;
  border-radius: 5px;
  color: white;
  width: 100px;
  margin: 10px 0 30px;
}
#submit:hover {
  background-color: rgb(216, 143, 6);
  box-shadow: 0 0 2px rgb(161, 163, 157);
}
